<div class="sidebar" data-color="rose" data-background-color="black" data-image="../assets/img/sidebar-1.jpg">
    <!--
      Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

      Tip 2: you can also add an image using data-image tag
  -->
    <div class="logo"><a routerLink="dashboard" class="simple-text logo-mini">
        EF
      </a>
      <a routerLink="/dashboard" class="simple-text logo-normal">
       Educo Finance
      </a></div>
    <div class="sidebar-wrapper">
      <div class="user">
        <div class="photo">
          <img src="../assets/img/faces/avatar.jpg" />
        </div>
        <div class="user-info">
          <a data-toggle="collapse" href="#collapseExample" class="username">
            <span>
              Tania Andrew
              <b class="caret"></b>
            </span>
          </a>
          <div class="collapse" id="collapseExample">
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span class="sidebar-mini"> MP </span>
                  <span class="sidebar-normal"> My Profile </span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span class="sidebar-mini"> EP </span>
                  <span class="sidebar-normal"> Edit Profile </span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span class="sidebar-mini"> S </span>
                  <span class="sidebar-normal"> Settings </span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <ul class="nav">
       
     
    
       
      
        <li class="nav-item ">
          <a class="nav-link" data-toggle="collapse" href="#mapsExamples">
            <i class="material-icons">monitor</i>
            <p> Admin
              <b class="caret"></b>
            </p>
          </a>
          <div class="collapse" id="mapsExamples">
            <ul class="nav">
              <li class="nav-item ">
                <a class="nav-link" routerLink="school">
                  <span class="sidebar-mini"> SM </span>
                  <span class="sidebar-normal">School </span>
                </a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" routerLink="school-classes">
                  <span class="sidebar-mini"> MSC </span>
                  <span class="sidebar-normal"> School Classes</span>
                </a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" routerLink="school-categories">
                  <span class="sidebar-mini"> MSC </span>
                  <span class="sidebar-normal">School Categories </span>
                </a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" routerLink="school-departments">
                  <span class="sidebar-mini"> MSD </span>
                  <span class="sidebar-normal">School Departments </span>
                </a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" routerLink="school-students">
                  <span class="sidebar-mini"> MSS </span>
                  <span class="sidebar-normal">School Students </span>
                </a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" routerLink="school-bills">
                  <span class="sidebar-mini"> MSB </span>
                  <span class="sidebar-normal">Manage Bill </span>
                </a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" routerLink="school-roles">
                  <span class="sidebar-mini"> MSR </span>
                  <span class="sidebar-normal">School Roles </span>
                </a>
              </li>
              <li class="nav-item ">
                <a class="nav-link"routerLink="school-users">
                  <span class="sidebar-mini"> MSU </span>
                  <span class="sidebar-normal">School Users </span>
                </a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" routerLink="school-payment">
                  <span class="sidebar-mini"> MP </span>
                  <span class="sidebar-normal">Manage Payment </span>
                </a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" routerLink="school-rebates">
                  <span class="sidebar-mini"> MR </span>
                  <span class="sidebar-normal">Manage Rebate </span>
                </a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" >
                  <span class="sidebar-mini"> MR </span>
                  <span class="sidebar-normal">Results </span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        
        
       
      </ul>
    </div>
  </div>