<div class="row">

  <div class="col-sm-12 col-md-12">
    <div class="card">
      <div class="card-header card-header-icon card-header-rose">
        <div class="card-icon">
          <i class="material-icons">MonetizationOn</i>
        </div>
        <h4 class="card-title "><span class="alert alert-info">Payment for {{ student.last_name}}- {{ student.first_name}} 
          ( {{ student.middle_name}})  |  To Pay - &#x20A6; {{ debt}} </span>  
          <span style="float:right; cursor:pointer;" rel="tooltip" title="New Class"
            class="btn btn-primary btn-link btn-sm">
            <i class="fa fa-plus"></i>
          </span>
        </h4>

      </div>
      <div class="card-body">
        <div class="d-flex justify-content-center" *ngIf="!loaded">
          <div class="spinner-grow text-primary" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-grow text-secondary" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-grow text-success" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-grow text-danger" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-grow text-warning" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-grow text-info" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-grow text-light" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-grow text-dark" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <div *ngIf="loaded">
          <form #findBillForm="ngForm" (ngSubmit)="onSubmitFindBillForm(findBillForm)">
            <div class="col-sm-12 col-md-12 mb-3" style="border: 1px solid black; margin :auto">
              <div class="form-group ">
                <div class="input-group mb-3">
                  <label class="input-group-text" for="class_id">Class</label>
                  <select class="custom-select" required id="class_id" [ngModel]="selectedClass"
                    (ngModelChange)="getStudents($event)" name="class_id">
                    <option selected>--Select Class--</option>
                    <option [value]="c.id" *ngFor="let c of classes">{{c.name}}</option>
                  </select>

                </div>

                <div class="input-group mb-3">
                  <label class="input-group-text" for="student_id">Students</label>
                  <select class="custom-select" required id="student_id" [ngModel]="selectedStudent"
                    (ngModelChange)="getStudentBills($event)" name="student_id">
                    <option selected>--Select Class--</option>
                    <option [value]="s.id" *ngFor="let s of students">{{s.last_name}} - {{s.first_name}}
                      ({{s.middle_name}}) -{{s.gender}}</option>
                  </select>

                </div>

                <button type="submit" class="btn btn-default btn-sm form-control">Get Student Bill</button>
              </div>
            </div>
          </form>

          <!-- Bill table -->
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" >
            <div class="panel panel-default mb-3" style="border:1px solid #D6D8D9;cursor:pointer;">
              <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title " style="text-align: center;">
                  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                   Compulsory Bill 
                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                  <table class="table ,table-hovered">
                    <thead class="text-primary">
                      <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Amount</th>
                        <th>Description</th>
                        <th>Amount Paid</th>
                        <th>Rebate</th>
                        <th>Balance</th>
                        <th>To Pay</th>
                        <th>Quantity</th>
                      </tr>
                    </thead>
                    <tbody>
                  <tr *ngFor="let bill of compulsorybill; let i = index">
                    <td>{{ i+1 }} <input type="checkbox" [ngModel]="general_bills_id" name="general_bills_id[{{i}}]"
                        id="general_bills_id[{{i}}]" class="ml-2" value="{{ bill.id}}"
                        (change)="enableButton(bill.id, bill.amount,bill)" />
    
                      <input type="hidden" [ngModel]="amount" name="amount[{{i}}]" id="amount[{{i}}]"
                        value="{{ bill.amount}}" />
    
                    </td>
                    <td>{{bill.name}}</td>
                    <td>{{ bill.amount}}</td>
                    <td>{{ bill.description}}</td>
                    <td>{{ bill.amount_paid}}</td>
                    <td>{{ bill.rebate}}</td>
                    <td>{{ bill.balance}}</td>
                    <td>
                      <input class="mr-2 form-control" [disabled]="bill.balance===0"
                        (change)="onChangeCompulsoryBill($event,bill.id)" [ngModel]="bill.to_pay" name="to_pay" type="text"
                        placeholder="Amount to pay" />
                    </td>
                    <button class="btn btn-success btn-sm px-2" disabled>
                      <i class="material-icons">check</i>
                    </button>
                  </tr>
                </tbody>
              </table>
                </div>
              </div>
            </div>
            <div class="panel panel-default mb-3" style="border:1px solid #D6D8D9;cursor:pointer;">
              <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title" style="text-align: center;">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                   General Bill
                  </a>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                  <table class="table ,table-hovered">
                    <thead class="text-primary">
                      <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Amount</th>
                        <th>Description</th>
                        <th>Amount Paid</th>
                        <th>Balance</th>
                        <th>To Pay</th>
                        <th>Quantity</th>
                      </tr>
                    </thead>
                    <tbody>
        
                      <tr>
                        <td colspan="8" style=" background-color: #D6D8D9;  text-align: center; text-transform:uppercase; ">
                          Choose What you are paying for | General Bill</td>
                      </tr>
                      <tr *ngFor="let gbill of generalbill; let i = index">
                        <td>{{ i+1 }}
                          <input type="hidden" [ngModel]="amount" name="amount[{{i+50}}]" id="amount[{{i+50}}]"
                            value="{{ gbill.amount}}" />
                        </td>
                        <td>{{gbill.name}}</td>
                        <td>{{ gbill.amount}}</td>
                        <td>{{ gbill.description}}</td>
                        <td>{{ gbill.amount_paid}}</td>
                        <td>{{ gbill.balance}}</td>
                        <td>
                          <input class="mr-2 form-control" [disabled]="gbill.balance===0"
                            (change)="onChangeGeneralBill($event,gbill.id)" [ngModel]="gbill.to_pay" name="to_pay" type="text"
                            placeholder="Amount to pay" />
                        </td>
                        <td>
                          <button  (click)=removeGeneralBill(gbill) class="btn btn-danger btn-sm px-2" *ngIf=" gbill.isChecked">
                            <i class="material-icons">clear</i>
                          </button>
                          <button (click)=addGeneralBill(gbill) class="btn btn-success btn-sm px-2" *ngIf="!gbill.isChecked">
                            <i class="material-icons">check</i>
                          </button>
                        </td>
        
                      </tr>
                      <tr>
                        <td colspan="8" style=" background-color: #D6D8D9;  text-align: center; text-transform:uppercase; ">
                          Store Bill</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="panel panel-default mb-3" style="border:1px solid #D6D8D9;">
              <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title" style="text-align: center;cursor:pointer">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                   Store Bill
                  </a>
                </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                  <table class="table ,table-hovered">
                    <thead class="text-primary">
                      <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Amount</th>
                        <th>Description</th>
                        <th>Amount Paid</th>
                        <th>Balance</th>
                        <th>To Pay</th>
                        <th>Quantity</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let sbill of storebill; let i = index">
                        <td>{{ i+1 }} <input type="checkbox" [ngModel]="general_bills_id" name="general_bills_id[{{i+30}}]"
                            id="general_bills_id[{{i+30}}]" class="ml-2" value="{{ sbill.id}}"
                            (change)="enableButton(sbill.id, sbill.amount,sbill)" />
        
                          <input type="hidden" [ngModel]="amount" name="amount[{{i+30}}]" id="amount[{{i+30}}]"
                            value="{{ sbill.amount}}" />
                        </td>
                        <td>{{sbill.name}}</td>
                        <td>{{ sbill.amount}}</td>
                        <td>{{ sbill.description}}</td>
                        <td>{{ sbill.amount_paid}}</td>
                        <td>{{ sbill.balance}}</td>
                        <td>
                          <input class="mr-2 form-control" [disabled]="sbill.balance===0"
                            (change)="onChangeStoreBill($event,sbill.id)" [ngModel]="sbill.to_pay" name="to_pay" type="text"
                            placeholder="Amount to pay" />
                        </td>
                        <td>
                          <button [disabled] = "remove" class="btn btn-danger btn-sm px-2 mr-2" (click)="decreaseQuantity(sbill,sbill.quantity)" >
                            <i class="material-icons">remove</i>
                          </button>
                          <span>{{ sbill.quantity  }}</span>
                          <button  [disabled] = "add" class="btn btn-success btn-sm px-2 ml-2" (click)="increaseQuantity(sbill, sbill.quantity)">
                            <i class="material-icons">add</i>
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td colspan="8" style=" background-color: #D6D8D9; text-align: center; text-transform:uppercase;">
                          Compusory Bill</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>


        
         
            
          <div class="col-sm-12 d-flex justify-content-center">
            <button type="button" rel="tooltip" title="Edit Class" (click)="onVerifyPayment()"
              class="btn btn-danger btn-lg myCursor" data-toggle="modal">
              Verify Payment
            </button>
          </div>


          <!-- <div class="col-sm-12 col-md-6" style="border: 1px solid black; margin :auto">
            <div class="form-group ">
              <form #payForm="ngForm" (ngSubmit)="onSubmitPayBillForm(payForm)">
                <div class="checkbox-radios mt-2">
                  <div class="form-check" style="display:inline;">
                    <input class="form-check-input" type="radio" [ngModel]="payment_options" name="payment_options"
                      id="cash" value="cash">
                    <label class="form-check-label" for="cash">
                      Cash
                    </label>
                  </div>
                  <div class="form-check " style="display:inline;">
                    <input class="form-check-input" type="radio" [ngModel]="payment_options" name="payment_options"
                      id="bank" value="bank">
                    <label class="form-check-label" for="bank">
                      Bank
                    </label>
                  </div>
                  <div class="form-check " style="display:inline;">
                    <input class="form-check-input" type="radio" [ngModel]="payment_options" name="payment_options"
                      id="pos" value="pos">
                    <label class="form-check-label" for="pos">
                      POS
                    </label>
                  </div>
                </div>
                <input class="mr-2 form-control" [ngModel]="receipt_no" name="receipt_no" type="text"
                  placeholder="Enter Receipt No" />
                <input class="mr-2 form-control" title="Enter Receipt Date" [ngModel]="receipt_date" name="receipt_date"
                  type="date" placeholder="Enter Receipt Date" />


                <input class="mr-2 form-control" [ngModel]="payment" name="payment" type="text"
                  placeholder="Enter Amount"
                  onkeypress="if ( isNaN(this.value + String.fromCharCode(event.keyCode) )) return false;" />

                <button type="submit" class="btn btn-default btn-sm form-control" [disabled]="findBill">Pay</button>
              </form>
            </div>
          </div> -->


        </div>

      </div>
    </div>

  </div>



  <div class="modal fade" id="verify-bill" tabindex="-1" role="dialog" aria-labelledby="verify-bill" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h4 class="modal-title">Verify Bill</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <i class="material-icons">clear</i>
          </button>
        </div>
        <div class="modal-body">

          <div class="table-responsive">
            <table class="table table-striped">
              <tr>
                <th>#</th>
                <th>Bill Name</th>
                <th>You are Paying</th>
              </tr>
              <tr *ngFor="let bill of bills_to_pay; let i = index">
                <td>{{ i+1}}</td>
                <td>{{ bill.name}}</td>
                <td>{{ bill.pretty_amount}}</td>
              </tr>
              <tr>
                <th colspan="2">TOTAL</th>
                <td>{{ bill_total }}</td>
              </tr>
            </table>
          </div>
        </div>
        <div class="modal-footer">

          <button type="button" class="btn btn-default btn-link" (click)="pay()">
            PAY
          </button>

          <button type="button" class="btn btn-danger btn-link" data-dismiss="modal">
            Close
          </button>
        </div>


      </div>
    </div>
  </div>

  


  
