<footer class="footer">
    <div class="container-fluid">
      <nav class="float-left">
        <ul>
          <li>
            <a href="#">
              Perspective IT
            </a>
          </li>
          <li>
            <a href="#">
              About Us
            </a>
          </li>
          <li>
            <a href="#">
              Blog
            </a>
          </li>
          <li>
            <a href="#">
              Terms and Condition
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright float-right">
        &copy;
       
         {{ today }}
        made by <i class="material-icons">favorite</i> by
        <a href="#" target="_blank">Persective IT</a>
      </div>
    </div>
  </footer>